### DEEP LEARNING

#### Load model

In [105]:
import pandas as pd
import numpy as np
import tensorflow as tf
import keras
from keras.models import model_from_json

In [106]:
json_file = open('C:\\Users\\SBS\\IMPORTED_DATA\\KerasModels\\ADWYA_1.json')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
#json encoding

#### Load model weights

In [107]:
loaded_model.load_weights('C:\\Users\\SBS\\IMPORTED_DATA\\KerasModels\\ADWYA_1.h5')

In [108]:
CLASSIFIER = loaded_model
CLASSIFIER.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 64)                1856

 activation_1 (Activation)   (None, 64)                0

 dense_2 (Dense)             (None, 64)                4160

 activation_2 (Activation)   (None, 64)                0

 dense_3 (Dense)             (None, 64)                4160

 activation_3 (Activation)   (None, 64)                0

 dense_4 (Dense)             (None, 64)                4160

 activation_4 (Activation)   (None, 64)                0

 dense_5 (Dense)             (None, 2)                 130

 activation_5 (Activation)   (None, 2)                 0

=================================================================
Total params: 14,466
Trainable params: 14,466
Non-trainable params: 0
_________________________________________________________________

In [109]:
#TradingDayTa = Les TA du jour concerné aprés extraction et reshape au format {0,-1,1}
df = pd.read_json('C:\\Users\\SBS\IMPORTED_DATA\\ta.json')

In [110]:
df

,_id,interRSI,interBollingerBands,interROC,interMACD,interMOM,ADL,price,instrument,date,WEMA,OBV,RSI,ROC,MOM,ATR,Stochastic,WilliamsR,BollingerBands,MACD
0,{'$oid': '61fe0c065e2f1c1a60016390'},0,0,0,0,0,1350000,55.50,ASSUR MAGHREBIA,{'$date': '2020-12-29T00:00:00Z'},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,{'$oid': '61fe0c065e2f1c1a60016395'},0,0,0,0,0,1580599,62.50,ASSUR MAGHREBIA,{'$date': '2022-01-10T00:00:00Z'},59.772000,253847.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,{'$oid': '61fe0c065e2f1c1a6001639a'},0,0,0,0,0,1582877,62.84,ASSUR MAGHREBIA,{'$date': '2022-01-17T00:00:00Z'},61.625449,255718.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,{'$oid': '61fe0c065e2f1c1a6001639f'},0,0,-1,0,-1,1585797,62.30,ASSUR MAGHREBIA,{'$date': '2022-01-28T00:00:00Z'},62.005491,254510.0,66.75,-0.240192,"{'MOM': -1.200000000000002, 'EmaMOM': -0.01946...",1.968316,"{'k': 75.23510971786827, 'd': 80.02271409880136}",-24.764890,NaN,NaN
4,{'$oid': '61fe0c065e2f1c1a60016392'},0,0,0,0,0,1580176,57.50,ASSUR MAGHREBIA,{'$date': '2020-12-31T00:00:00Z'},NaN,254078.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140333,{'$oid': '61fe0c2e5e2f1c1a600387bd'},1,1,0,0,-1,{'$numberDouble': '-Infinity'},0.83,SERVICOM,{'$date': '2022-01-17T00:00:00Z'},1.766754,6150298.0,14.86,-58.500000,"{'MOM': -1.19, 'EmaMOM': -0.651370803372138}",0.120654,"{'k': 0, 'd': 26.086956521739193}",-100.000000,"{'middle': 1.9774999999999872, 'upper': 2.5208...","{'MACD': -0.10164524055147801, 'signal': -0.01..."
140334,{'$oid': '61fe0c2e5e2f1c1a600387be'},1,0,0,0,0,{'$numberDouble': '-Infinity'},1.05,SERVICOM,{'$date': '2022-01-25T00:00:00Z'},1.623403,6214436.0,25.34,-48.019802,"{'MOM': -1.039999999999999, 'EmaMOM': -0.60911...",0.127750,"{'k': 16.923076923076934, 'd': 20.133779264214...",-83.076923,"{'middle': 1.925499999999987, 'upper': 2.59924...","{'MACD': -0.156092200123417, 'signal': -0.0451..."
140335,{'$oid': '61fe0c2e5e2f1c1a600387bf'},0,0,0,0,0,{'$numberDouble': '-Infinity'},1.23,SERVICOM,{'$date': '2022-01-31T00:00:00Z'},1.544723,6250366.0,32.64,-41.148325,"{'MOM': -0.899999999999999, 'EmaMOM': -0.55081...",0.131483,"{'k': 30.769230769230777, 'd': 15.89743589743594}",-69.230769,"{'middle': 1.879499999999987, 'upper': 2.60897...","{'MACD': -0.182612271581506, 'signal': -0.0726..."
140336,{'$oid': '61fe0c2e5e2f1c1a600387c0'},0,1,0,0,0,{'$numberDouble': '-Infinity'},1.28,SERVICOM,{'$date': '2022-02-01T00:00:00Z'},1.491778,6282109.0,34.56,-39.906103,"{'MOM': -0.8200000000000001, 'EmaMOM': -0.5191...",0.125662,"{'k': 34.61538461538463, 'd': 27.435897435897484}",-65.384615,"{'middle': 1.8364999999999871, 'upper': 2.6000...","{'MACD': -0.19732044982836802, 'signal': -0.09..."
140337,{'$oid': '61fe0c2e5e2f1c1a600387c1'},0,1,0,0,0,{'$numberDouble': '-Infinity'},1.38,SERVICOM,{'$date': '2022-02-03T00:00:00Z'},1.469422,6361345.0,38.33,-34.285714,"{'MOM': -0.71, 'EmaMOM': -0.45841894331582106}",0.123829,"{'k': 42.30769230769231, 'd': 35.89743589743594}",-57.692308,"{'middle': 1.802999999999987, 'upper': 2.58474...","{'MACD': -0.19861807723171102, 'signal': -0.11..."

In [111]:
#df = df.reset_index()  # make sure indexes pair with number of rows

instru = "ADWYA"

print ('********************************************************')
df4=df.loc[df['instrument'] == instru]

#df_repeated_with_index = pd.concat([df1]*2)
#print(df_repeated_with_index)

********************************************************

In [112]:
df4

,_id,interRSI,interBollingerBands,interROC,interMACD,interMOM,ADL,price,instrument,date,WEMA,OBV,RSI,ROC,MOM,ATR,Stochastic,WilliamsR,BollingerBands,MACD
17804,{'$oid': '61fe0c0a5e2f1c1a6001a91c'},0,0,0,0,0,-83,3.977,ADWYA,{'$date': '2012-01-03T00:00:00Z'},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17805,{'$oid': '61fe0c0a5e2f1c1a6001a91d'},0,0,0,0,0,2206,3.983,ADWYA,{'$date': '2012-01-04T00:00:00Z'},NaN,2289.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17806,{'$oid': '61fe0c0a5e2f1c1a6001a91e'},0,0,0,0,0,10241,3.994,ADWYA,{'$date': '2012-01-05T00:00:00Z'},NaN,10324.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17807,{'$oid': '61fe0c0a5e2f1c1a6001a91f'},0,0,0,0,0,14198,3.994,ADWYA,{'$date': '2012-01-06T00:00:00Z'},NaN,10324.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17808,{'$oid': '61fe0c0a5e2f1c1a6001a920'},0,0,0,0,0,35758,4.045,ADWYA,{'$date': '2012-01-09T00:00:00Z'},3.998600,34759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117973,{'$oid': '61fe0c285e2f1c1a60033065'},0,1,0,0,0,15393495,5.000,ADWYA,{'$date': '2022-01-31T00:00:00Z'},4.909099,16168153.0,65.40,6.382979,"{'MOM': 0.29999999999999905, 'EmaMOM': 0.06139...",0.105469,"{'k': 88.67924528301893, 'd': 91.72819250751992}",-11.320755,"{'middle': 4.807500000000006, 'upper': 5.01791...","{'MACD': 0.061131780360359, 'signal': 0.040157..."
117974,{'$oid': '61fe0c285e2f1c1a60033066'},0,0,0,0,0,15407104,5.080,ADWYA,{'$date': '2022-02-01T00:00:00Z'},4.943279,16181762.0,69.61,8.085106,"{'MOM': 0.28, 'EmaMOM': 0.05695426394253}",0.103650,"{'k': 100, 'd': 92.45283018867933}",NaN,"{'middle': 4.827500000000007, 'upper': 5.06046...","{'MACD': 0.072043528361921, 'signal': 0.046534..."
117975,{'$oid': '61fe0c285e2f1c1a60033067'},-1,1,0,0,0,15422144,5.100,ADWYA,{'$date': '2022-02-02T00:00:00Z'},4.974623,16196802.0,70.57,6.250000,"{'MOM': 0.229999999999999, 'EmaMOM': 0.0465163...",0.103389,"{'k': 100, 'd': 96.22641509433969}",NaN,"{'middle': 4.847500000000006, 'upper': 5.10102...","{'MACD': 0.081367051401755, 'signal': 0.053501..."
117976,{'$oid': '61fe0c285e2f1c1a60033068'},-1,1,0,0,0,15422144,5.110,ADWYA,{'$date': '2022-02-03T00:00:00Z'},5.001698,16206131.0,71.07,4.928131,"{'MOM': 0.20999999999999902, 'EmaMOM': 0.04225...",0.097433,"{'k': 98.30508474576276, 'd': 99.43502824858763}",-1.694915,"{'middle': 4.868000000000006, 'upper': 5.13637...","{'MACD': 0.08854226687282901, 'signal': 0.0605..."
117977,{'$oid': '61fe0c285e2f1c1a60033069'},-1,1,0,0,0,15441605,5.120,ADWYA,{'$date': '2022-02-04T00:00:00Z'},5.025359,16229484.0,71.58,4.489796,"{'MOM': 0.29999999999999905, 'EmaMOM': 0.06008...",0.099045,"{'k': 97.67441860465121, 'd': 98.65983445013804}",-2.325581,"{'middle': 4.886500000000007, 'upper': 5.17035...","{'MACD': 0.093952566551047, 'signal': 0.067198..."

In [113]:
import datetime

In [114]:
nbt = 0
nbf = 0
d = pd.DataFrame()
for ind in df4.index:
   # print(df4['date'][ind]['$date'])
    dd=df4['date'][ind]['$date']
    if('2012-01' in dd):
        print("true")
        nbt=nbt+1
        d = d.append(df4.loc[df4['date'] == df4['date'][ind]])
        #print(d)
    else:
       # print("false")
        nbf=nbf+1
print(nbt)

print(nbf)

#print(dd['$date'])

true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
21
2432

In [115]:
d_x1 = d['RSI']
print(d_x1)

17804      NaN
17805      NaN
17806      NaN
17807      NaN
17808      NaN
17809      NaN
17810      NaN
17811      NaN
17812      NaN
17813      NaN
17814      NaN
17815      NaN
17816      NaN
17817      NaN
17818    65.45
17819    68.11
17820    68.11
17821    54.99
17822    59.68
17823    58.27
17824    48.14
Name: RSI, dtype: float64

In [116]:


nbr = 0
df3 = []
for ind in d_x1.index:
    if(not pd.isna(d_x1[ind])):
        nbr = nbr + 1
        df3.append(d_x1[ind])
    else:
        print('NAN', d_x1[ind])
    #print (d_x1[ind])
print(nbr)
print(df3)

NAN nan
NAN nan
NAN nan
NAN nan
NAN nan
NAN nan
NAN nan
NAN nan
NAN nan
NAN nan
NAN nan
NAN nan
NAN nan
NAN nan
7
[65.45, 68.11, 68.11, 54.99, 59.68, 58.27, 48.14]

In [117]:
dx= pd.DataFrame(df3)
dx

       0
0  65.45
1  68.11
2  68.11
3  54.99
4  59.68
5  58.27
6  48.14

In [79]:
dx.shape
dx.shape[0]

6

In [91]:
dx = dx.reshape(-1,dx.shape[1])

In [92]:
dx.shape
#y_tensor = tf.convert_to_tensor(y, dtype=tf.int64)

(6, 1)

In [96]:
 #prediction = CLASSIFIER.predict_classes(d)
CLASSIFIER.add(tf.keras.layers.Dense(256, input_shape=(dx.shape[1],), activation='sigmoid', name='dense_1'))
predict_x=CLASSIFIER.predict(dx) 
classes_x=np.argmax(predict_x,axis=1)

ValueError: All layers added to a Sequential model should have unique names. Name "dense_1" is already the name of a layer in this model. Update the `name` argument to pass a unique name.