### STOCK MARKET PREDICTION :

In [1]:
import pandas_datareader as pdr
import pandas as pd

In [2]:
df = pd.read_json('IMPORTED_DATA/ta.json')
#df
df.head(10)
#df['instrument'].apply(pd.Series)

,_id,interRSI,interBollingerBands,interROC,interMACD,interMOM,ADL,price,instrument,date,WEMA,OBV,RSI,ROC,MOM,ATR,Stochastic,WilliamsR,BollingerBands,MACD
0,{'$oid': '61fe0c065e2f1c1a60016390'},0,0,0,0,0,1350000,55.50,ASSUR MAGHREBIA,{'$date': '2020-12-29T00:00:00Z'},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,{'$oid': '61fe0c065e2f1c1a60016395'},0,0,0,0,0,1580599,62.50,ASSUR MAGHREBIA,{'$date': '2022-01-10T00:00:00Z'},59.772000,253847.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,{'$oid': '61fe0c065e2f1c1a6001639a'},0,0,0,0,0,1582877,62.84,ASSUR MAGHREBIA,{'$date': '2022-01-17T00:00:00Z'},61.625449,255718.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,{'$oid': '61fe0c065e2f1c1a6001639f'},0,0,-1,0,-1,1585797,62.30,ASSUR MAGHREBIA,{'$date': '2022-01-28T00:00:00Z'},62.005491,254510.0,66.75,-0.240192,"{'MOM': -1.200000000000002, 'EmaMOM': -0.01946...",1.968316,"{'k': 75.23510971786827, 'd': 80.02271409880136}",-24.764890,NaN,NaN
4,{'$oid': '61fe0c065e2f1c1a60016392'},0,0,0,0,0,1580176,57.50,ASSUR MAGHREBIA,{'$date': '2020-12-31T00:00:00Z'},NaN,254078.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,{'$oid': '61fe0c065e2f1c1a60016397'},0,0,0,0,0,1580623,61.00,ASSUR MAGHREBIA,{'$date': '2022-01-12T00:00:00Z'},60.534080,253871.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,{'$oid': '61fe0c065e2f1c1a6001639c'},0,0,0,0,0,1583187,62.78,ASSUR MAGHREBIA,{'$date': '2022-01-19T00:00:00Z'},61.612287,256020.0,NaN,13.117117,"{'MOM': 6.280000000000001, 'EmaMOM': 0.1026809...",NaN,NaN,NaN,NaN,NaN
7,{'$oid': '61fe0c065e2f1c1a600163a1'},0,0,0,0,0,1585808,62.20,ASSUR MAGHREBIA,{'$date': '2022-02-01T00:00:00Z'},62.089914,254499.0,66.34,-0.480000,"{'MOM': -0.799999999999997, 'EmaMOM': -0.01294...",1.789977,"{'k': 61.76470588235301, 'd': 64.97877451224306}",-38.235294,NaN,NaN
8,{'$oid': '61fe0c065e2f1c1a60016393'},0,0,0,0,0,1580021,62.45,ASSUR MAGHREBIA,{'$date': '2022-01-06T00:00:00Z'},NaN,254233.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,{'$oid': '61fe0c065e2f1c1a60016398'},0,0,0,0,0,1581185,63.00,ASSUR MAGHREBIA,{'$date': '2022-01-13T00:00:00Z'},61.027264,254486.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(140338, 20)

In [ ]:
df['instrument'].apply(pd.Series)

In [ ]:
import json
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

import h5py as h5
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#df = df.reset_index()  # make sure indexes pair with number of rows
nbr=0
df3 = []
instru = "AIR LIQUDE TSIE"
for ind in df.index:
    #ASSUR MAGHREBIA
    #AIR LIQUDE TSIE
    if (df['instrument'][ind] == instru):
        nbr = nbr +1
        print(df['instrument'][ind], df['price'][ind])
        
        df2 = df['RSI'][ind]
        df3.append(df2)
     #print(df['instrument'][ind], df['price'][ind] 
print ('********************************************************')

df4=pd.DataFrame(df3)

In [ ]:
df4.shape

In [ ]:
#visualize pricing data
plt.figure(figsize=(18,8))
title = "prince history of " + instru
plt.title(title)
plt.plot(df4)
plt.show()

In [ ]:
df4

In [ ]:
#using only !nan inputs
nbr = 0
df3 = []
for ind in df4.index:
    #ASSUR MAGHREBIA
    #AIR LIQUDE TSIE
    if (not pd.isna(df['RSI'][ind])):
        nbr = nbr +1
        df3.append(df['RSI'][ind])
df4=pd.DataFrame(df3)
print(nbr)

In [ ]:
#visualize pricing data
plt.figure(figsize=(18,8))
title = "prince history of " + instru
plt.title(title)
plt.plot(df4)
plt.show()

In [ ]:
## ps: LSTM ARE SENSITIVE TO DATA SCALE --- > that's why wy apply MinMaxScaler to scale the data accordingly
##import numpy as np

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))
df4 = scaler.fit_transform(np.array(df4).reshape(-1,1))

In [ ]:
print(df4)

## Splitting dataset into train and test split :

In [ ]:
# 65% (0.65) of dataframe being training size
training_size = int(len(df4)*0.65)

#the rest assigned to test size 
test_size = len(df4)-training_size 

train_data,test_data=df4[0:training_size,:],df4[training_size:len(df4),:1]

In [ ]:
training_size,test_size

In [ ]:
#import numpy as np
#convert array of values into a dataset matrix

def create_dataset(dataset,time_step=1):
    dataX, dataY = [], []
    for i in range(len(dataset)-time_step-1):
        a = dataset[i:(i + time_step), 0] 
        dataX.append(a)
        dataY.append(dataset[i + time_step, 0])
    return np.array(dataX), np.array(dataY)

In [ ]:
# reshape into X=t, t+3, t+2, ... and Y=t+4
time_step = 100
X_train, Y_train = create_dataset(train_data, time_step)
X_test, Y_test = create_dataset(test_data, time_step)

In [ ]:
print(X_train.shape), print(Y_train.shape)

In [ ]:
print(X_test.shape), print(Y_test.shape)

In [ ]:
X_train

### Reshape input to be [samples, time_steps, features]  ==> required for LSTM models

In [ ]:
X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

### Create LSTM model :

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM

In [ ]:
model=Sequential()
model.add(LSTM(50,return_sequences=True,input_shape=(100,1)))
model.add(LSTM(50,return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))
model.compile(loss='mean_squared_error',optimizer='adam')

In [ ]:
model.summary()

In [ ]:
model.fit(X_train,Y_train,validation_data=(X_test,Y_test), epochs=100, batch_size=64, verbose=1)

In [ ]:
import tensorflow as tf

In [ ]:
### Prediction and performance metrics check
train_predict=model.predict(X_train)
test_predict=model.predict(X_test)

In [ ]:
##transform back to original form before scaling
train_predict=scaler.inverse_transform(train_predict)
test_predict=scaler.inverse_transform(test_predict)

In [ ]:
## Calculating RMSE ( root mean squared error / regression metrics)  performance metrics
import math
from sklearn.metrics import mean_squared_error
math.sqrt(mean_squared_error(Y_train,train_predict))

In [ ]:
### test data RMSE
math.sqrt(mean_squared_error(Y_test, test_predict))

In [ ]:
plt.figure(figsize=(12,8))
plt.plot(df4)

In [ ]:
### Plotting 
# shift train predictions for plotting
look_back=100
trainPredictPlot = np.empty_like(df4)
trainPredictPlot[:, :] = np.nan
trainPredictPlot[look_back:len(train_predict)+look_back, :] = train_predict
# shift test predictions for plotting
testPredictPlot = np.empty_like(df4)
testPredictPlot[:, :] = np.nan
testPredictPlot[len(train_predict)+(look_back*2)+1:len(df4)-1, :] = test_predict
# plot baseline and predictions
plt.figure(figsize=(12,8))
plt.plot(scaler.inverse_transform(df4))
plt.plot(trainPredictPlot)
plt.plot(testPredictPlot)

plt.show()

In [ ]:
len(test_data)

In [ ]:
#taking 100 test data
x_input = test_data[469:].reshape(1,-1)
x_input.shape

In [ ]:
#converting inputs to list 
temp_input = list(x_input)
temp_input=temp_input[0].tolist()

###  prediction for next 30 days

In [ ]:
# demonstrate prediction for next 10 days
from numpy import array

lst_output=[]
n_steps=100
i=0
while(i<30):
    
    if(len(temp_input)>100):
        #print(temp_input)
        x_input=np.array(temp_input[1:])
        print("{} day input {}".format(i,x_input))
        x_input=x_input.reshape(1,-1)
        x_input = x_input.reshape((1, n_steps, 1))
        #print(x_input)
        yhat = model.predict(x_input, verbose=0)
        print("{} day output {}".format(i,yhat))
        temp_input.extend(yhat[0].tolist())
        temp_input=temp_input[1:]
        #print(temp_input)
        lst_output.extend(yhat.tolist())
        i=i+1
    else:
        x_input = x_input.reshape((1, n_steps,1))
        yhat = model.predict(x_input, verbose=0)
        print(yhat[0])
        temp_input.extend(yhat[0].tolist())
        print(len(temp_input))
        lst_output.extend(yhat.tolist())
        i=i+1
    

print(lst_output)

In [ ]:
#The arange ====> ([start,] stop[, step,][, dtype]) : Returns an array with evenly spaced elements as per the interval. The interval mentioned is half-opened i.e. [Start, Stop) 
day_new = np.arange(1,101)
day_pred=np.arange(101,131)

In [ ]:
len(df4)

In [ ]:
# import matplotlib.pyplot as plt ==> imported top

plt.figure(figsize=(12,8))
plt.plot(day_new,scaler.inverse_transform(df4[1525:]))
plt.plot(day_pred,scaler.inverse_transform(lst_output))